:root {
  --background: #1F2229;
  --background2: #2E303C;
  --background-button: #373945;
  --background-button2: #4B4D59;
  --yellow: #FAE800;
  --gray: #BEC2C6;
  --white: #FBFBFB;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: var(--background);
}

a, button, input, textarea {
  font-family: 'Poppins', sans-serif;
}

button {
  cursor: pointer;
}